body {
	background: rgb(240, 240, 240);
	font-family: Arial;
}
.div {
	background: white;
	padding: 10px;
	border: 1px solid black;
	margin: 0 0 10px 0;
}
h1 {
	font-weight: bold;
	display: inline;
}
a {
	color: black;
	text-decoration: none;
	background: rgb(240, 240, 240);
	text-align: right;
	float: right; 
	padding: 10px;
	border: 1px solid black;
}
.Form {
	float: right;
	position: relative;
	top: -150px;
	background: rgb(240, 240, 240);
	border: 1px solid black;
	padding: 10px;
}
.AKA {
	background: rgb(240, 240, 240);
	padding: 1px;
}
button {
	background: white;
	border: 1px solid black;
}
#Result {
	display: inline;
	padding-left: 10px;
}